.list {
    max-width:800px;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.banner {
    padding: 1em;
    background: #f2f2f2;
}
.search {
    min-width: 200px;
    padding: .5em;
    margin: 0 0 2em;
    border: 1px solid #bbb;
}

.groups,
.fields,
.items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.groups {}
.group {
    position: relative;
    margin: 0 0 1em;
    padding: 0 0 1em;
    border: 1px solid #bbb;
    border-width: 0 0 1px 0;
}
.group:last-child {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.groupTitle {
    margin: 0 0 .5em;
}
.groupLimit {
    position: absolute;
    left: 0; top: 0; right: 0; left: auto;
    font-style: italic;
}

.fields {}
.field {
    margin: 0 0 .2em;
}

.items {
    flex-grow: 1;
}
.item {
    margin: 0 0 2em;
}
.title {
    margin: 0;
}
.meta {
    margin: 0;
    font-style: italic;
}